@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.img-fundo{
  font-family:"Playfair Display" ;
  font-size: 20px;
  background-image: url(/img/Fundo-Banco-de-Dados.jpg);
  background-size: cover;
  height: 300px; /* Ajuste a altura conforme necessário */
  display: flex;
  align-items: center; /* Centraliza o texto verticalmente */
  justify-content: flex-start; /* Centraliza o texto horizontalmente */
  text-align: start; /* Centraliza o texto */
  color: white;
  padding: 20px;
}

h1{
  position: left;
}

.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.plan-card {
  background-color: #d9d9d9;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  padding: 10px;
}

.plan-header {
  background-color: red;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.plan-price {
  margin-top: 10px;
  font-size: 1.2em;
}